@import './../../global.scss';

.intro {
    background-color: lightgrey;
    display: flex;

    a {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 2;

        img {
            width: 50px;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }

    .wrapper {
        position: absolute;
        right: 10px;
    }
}