@import './../../global.scss';

.intro {
    background-color: lightgrey;
    display: flex;

    .intro-text {
        position: absolute;
        color: white;
        right: 10%;
        top: 20%;
        font-size: 80px;
    }

    a {
        position: absolute;
        bottom: 25px;
        left: 50%;
        z-index: 2;

        img {
            width: 70px;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}