@import './../../global.scss';

.intro {
    background-color: lightgrey;
    display: flex;

    .intro-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        color: white;
        right: 20%;
        top: 20%;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

        :first-child {
            font-size: 80px;
        }

        :nth-child(2) {
            font-size: 100px;
        }

        :last-child {
            font-size: 50px;
        }
    }

    a {
        position: absolute;
        bottom: 25px;
        left: 50%;
        z-index: 2;

        img {
            width: 70px;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}