@import './global.scss';

.app {
    height: 100%;

    .sections {
        width: 100%;
        height: calc(100% - $topBarHeight);
        background-color: lightsalmon;
        overflow-x: hidden;                 // Keeps vertical scroll bar beneath the top bar and allows snapping to work
        position: relative;
        top: $topBarHeight;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;              // for Firefox
        &::-webkit-scrollbar {
            display: none;
        }

        > * {
            width: 100%;
            height: 100%;
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }
    }
}